# Copy this file to .env and modify the values as needed

# PocketBase API HTTP Binding
POCKETBASE_BIND=127.0.0.1:8090

# PocketBase URL for API access
POCKETBASE_URL=http://127.0.0.1:8090


# PocketBase Type Generation Credentials
PB_TYPEGEN_URL=http://127.0.0.1:8090
PB_TYPEGEN_EMAIL=admin@myproject.com
PB_TYPEGEN_PASSWORD=secr3tp@ssword!

# Connection string to pocketbase to use during Vite builds
VITE_POCKETBASE_URL=http://127.0.0.1:8090
