# Database and realtime backend
pocketbase

# UI interface output folder
public

# Node dependencies
node_modules

# macOS
.DS_Store

# Environment files
.env
.env.*
!*.env.example

# Logs
logs
*.log
